.content {
  width: 70%;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid var(--secondary-accent);
  background-color: white;
}

.content label {
  font-family: "Poppins", sans-serif;
  padding: 10px;
  margin: 10px;
  color: var(--main-background);
}

.content input {
  margin: 10px;
}

.content button {
  height: 50px;
  width: 150px;
  background-color: var(--secondary-accent);
  border: 3px solid var(--accent-blue);
  border-radius: 10px;
  overflow-y: hidden;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: var(--text-primary);
  margin: auto;
  text-align: center;
  font-size: 1em;
}

.content button:hover {
  background-color: var(--main-background);
  color: var(--accent-blue);
}

.content div {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.content div label {
  flex: 1;
  margin: 0 30px;
}

.content div select,
input {
  flex: 2;
  background-color: var(--secondary-accent);
  font-weight: bold;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding-left: 10px;
}

