.label {
  color: var(--text-primary);
  font-weight: bold;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 10px;
  margin: 5px;
  flex: 1;
}

.input {
  background-color: #fff;
  color: var(--secondary-background);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 10px;
  padding: 5px;
  flex: 2;
}

.header {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 2em;
  overflow-y: hidden;
}
